$main-color: #8d81ac

$price-element-bg: #d4d4d4


$main-font: 'Montserrat', sans-serif
$second-font: 'Lato', sans-serif
$third-font: 'Source Sans Pro', sans-serif
$fourth-font: 'Source Sans Pro - Bold It', sans-serif